<body>


    <form class="formulario" action="#" method="post">
        <h2>Create a Note</h2>
        <label for="selector"></label>
        <select id="selector" name="opcion">
            <option value="Daniel">Daniel</option>
   
        </select>

        <br>

        <label for="texto1"></label>
        <input type="text" id="texto1" name="campo1" placeholder="Title">

        <br>

        <label for="texto2"></label>
        <input type="text" id="texto2" name="campo2" placeholder="Note">

        <br>

        <label for="fecha"></label>
        <input type="date" id="fecha" name="fecha">

        <br>

        <input type="submit" value="Save">
    </form>
</body>
